@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400);

* {
  
box-sizing: border-box;
  
padding: 0;
  
margin: 0;

}


body {
  
font-family: 'Source Sans Pro', sans-serif;
  
background-color: #f4edfc;

}


nav {
  
position: fixed;
  
top: 30%;
  
left: 50%;
  
width: 100%;
  
text-align: center;
  
transform: translateX(-50%) translateY(-50%);
  
-webkit-transform: translateX(-50%) translateY(-50%);

}



nav:after {
  
content: "";
  
display: table;
  
clear: both;

}


nav ul li {
  
list-style: none;
  
display: inline-block;
  
oveflow: hidden;

}


nav ul li a {
  
display: block;
  
padding: 10px 40px;
  
text-decoration: none;
  
font-size: 20px;
  
position: relative;
  
color: rgba(255, 255, 255, 0.8);
  
-webkit-transform: translateX(-15%);
          
transform: translateX(-15%);
  
border-radius: 50px;
  
width: 130%;
  
text-align: center;
  
-webkit-transition-duration: 0.25s;
          
transition-duration: 0.25s;

}


nav ul li a:hover {
  
color: white;

}

nav ul li.active a {
  
color: white;

}

nav ul li:nth-child(1) a {
  
background-color: #644989;

}


nav ul li:nth-child(2n) a {
  
background-color: #f392b4;

}


nav ul li:nth-child(3n) a {
  
background-color: #644989;

}


nav ul li:nth-child(4n) a {
  
background-color: #f392b4;

}


nav ul li:nth-child(5n) a {
  
background-color: #644989;

}


nav ul li:nth-child(6n) a {
  
background-color: #f392b4;

}


nav .dot {
  
background-color:#f4edfc;
  
width: 6px;
  
height: 6px;
  
position: absolute;
  
bottom: -20px;
  
left: 0;
 
border-radius: 50%;
  
-webkit-transition-duration: 0.5s;
          
transition-duration: 0.5s;

}
